body {
  margin: 0;
  padding: 0;
}

/* Remove hyperlink design */
a {
  color: black;
  text-decoration: none;
}

/* Navigation bar style and position */
.navbar {
  background-color: #F0DCC4;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row; /* sets main axis, DEFAULT VALUE - can be truncated */
  justify-content: flex-start; /* aligns content on the main axis, DEFAULT VALUE - can be truncated */
  left: 0;
  top: 0;
  width: 100vw;
}
  /* Flex display enables the transition */
  .navbar ul {
    display: flex;
    list-style: none;
    margin: -15px;
  } 
  /* Navigation bar text styling and position */
  .navbar li {
    display: inline;
    font: normal 1em "Inconsolata"; /* SH: font-style, font-size, font-family */
    list-style-type: none;
    overflow: hidden;
    padding: 2em;
    transition: transform 0.7s;
  }
    /* Navigation bar text hover transition */
    .navbar li:hover {
      font-weight: bold;
      transform: translateY(-3px);
    }

/* Main content body */
.content-card {
  align-items: center;
  border: 2px solid;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  height: 42rem;
  margin: 5em auto 0; /* SH for 3 values: margin-top, horizontal (margin-left & margin-right), margin-bottom) */
  width: 40em;
}
  /* Content card text styling */
  .content-card h1, h2, h3 {
    font: normal 1em "Josefin Sans"; 
    margin: 10px;
  }

/* Next button styling */
.btn-next {
  align-items: center;
  border: 2px solid;
  border-radius: 12em;
  display: flex;
  height: 3em;
  justify-content: center;
  margin: 3.5em auto 0; /* SH for 3 values alt: margin-top, margin-inline, margin-bottom */
  transition: transform 0.3s;
  width: 15em;
}
  /* Next button text hover transition */
  .btn-next:hover {
    transform: translateY(-3px);
  }

/* Footer style and position */
.footer {
  background-color: #DBB6AD;
  border-color: black;
  border-top: 2px solid;
  bottom: 0;
  font: normal 1em "Inconsolata";
  left: 0;
  position: fixed;
  text-align: center;
  width: 100vw;
}