/* styling for index.html */
html, body {
  background-color: #E0D4CC !important; /* !important forces the color switch */
  margin: 0;
  padding: 0;
}

/* navigation bar style and position */
.nav-bar {
  align-items: center;
  background-color: #DFCAA0;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row; /* sets main axis, DEFAULT VALUE - can be truncated */
  justify-content: center; /* aligns content on the main axis, DEFAULT VALUE - can be truncated */
  padding: 0 2em;
  width: 100vw;

  top: 0;
  position: fixed;
}
  /* remove hyperlink design on nav-bar */
  .nav-bar a {
    color: black;
    text-decoration: none;
  }
  /* flex display enables the transition */
  .nav-bar ul {
    display: flex;
    list-style: none;
  } 
  /* navigation bar text styling and position */
  .nav-bar li {
    display: flex;
    font: normal 1.3em "VT323"; /* SH: font-style, font-size, font-family */
    list-style-type: none;
    overflow: hidden;
    padding: 1em 2em 0em 2em;
    transition: transform 0.7s;
  }
    /* navigation bar text hover transition */
    .nav-bar li:hover {
      font-weight: bold;
      transform: translateY(-3px);
    }

/* main content divider */
.body-divider {
  background-color: #DFCAA0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
}

.index-body-text {
  align-items: center;
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}
  /* main content text styling */
  .index-body-text h1 {
    font: italic bold 1em "Comic Neue"; 
    font-size: 5vmax;
    margin: 5px;
    max-width: 80%;
    text-align: center;
  }
  .index-body-text h2 {
    font: italic 1em "VT323"; 
    font-size: 2em;
    margin: 0;
    text-align: center;
  }
  .index-body-text span {
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #000000;
  }

.self-portrait-div{
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}
  #self-portrait {
    border: 3px solid;
    border-radius: 1em;
    box-shadow: 1rem 1rem;
    max-width: 60%;
    min-width: 13rem;
    object-fit: cover;
  }

/* .pseudo-footer{
  background-color: #DFCAA0;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
#scroll-down-text {
  font: normal 1.3em "VT323";
}

/*
.down-arrow {
  animation-direction: alternate;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-name: bouncingArrow;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #000000;
  height: 0;
  width: 0;
}
  /* down arrow animation 
  @keyframes bouncingArrow {
    to{transform: translateY(6px);}
  }
*/

/* styling for about.html */
.about_body {
  background-color: #DFCAA0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* header index based styling for pages other than index */
.h1_style {
  color: #000000;
  font: italic bold 1em "Comic Neue"; 
  font-size: 5vmax;
  text-align: center;
}

#about_card {
  background-color: #E0D4CC;
  border: 3px solid #000000;
}
  #about_card h2 {
    color: #000000;
    font: italic bold 4vmin "Comic Neue";
    text-align: center;
  }
  #about_card p {
    color: #000000;
    font: normal 2vmin "Nunito Sans";
    margin-top: 5px;
    text-align: justify;
  }

/* media query for tablet size and below */
@media (max-width: 768px) {
  .body-divider {
    flex-direction: column;
  }
  .index-body-text {
    order: 2;
  }
  .self-portrait-div {
    margin-top: 10rem;
    order: 1;
  }
  .nav-bar li {
    font-size: 1em;
    padding: 1em 1.5em 0em 1.5em;
  }
}

@media (max-width: 600px) {
  #about_card p {
    font-size: 3vmin;
  }
}